!!!
html(lang="de")
  head
    title= title
    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge,chrome=1")
    meta(name="viewport", content="width=device-width,initial-scale=1,maximum-scale=1")
    link(rel='stylesheet/less', type='text/css', href='styles/client.less')
    script(type='text/javascript', src='js/libs/socketio/socket.io.js')
    script(type='text/javascript', src='js/libs/jquery/jquery.js')
    script(type='text/javascript', src='js/libs/less/less-1.3.3.min.js')
  body
    div#main
        h1 Hello
